body {
	margin: 0px;
	font-family: Verdana, sans-serif;
	font-size: 1em;
	line-height: 1.3;
	max-width: 40em;
	padding: 0em 0em 4em 4em;
}

h1, h2, h3, h4 {
	padding-bottom: 0.5em;
	font-weight: bold;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

p {
	text-indent: 1.5em;
	margin: 0em;
}

ul {
	text-indent: 1.5em;
	list-style: none;
	list-style-type: none;
}

li {
	padding: 0px;
	margin: 0px;
	text-indent:0px;
}

table { text-indent: 0px; }

td { vertical-align: top; }

hr {
	width: 50%;
	border: 0px;
	border-bottom: 1px dashed #ccc;
	margin-top: 1em;
	margin-bottom: 1em;
	background: #888;
}

.title_page {
	text-align:center;
	border:1px solid black;
	padding: 4em;
}

.smaller { font-size: 0.8em; }
.larger { font-size: 1.2em; }
.aq { border: 1px dotted black; }
.c { text-align: center; }
.b { font-weight: bold; }
.s { text-decoration: line-through; }
.i {
	font-style: italic;
	background-color: LightSteelBlue;
	padding: 0px 1px 0px 1px;
}
.g {
	letter-spacing: 0.25em;
	background-color:#ddd;
}
.k {
	font-variant: small-caps;
	background-color: Yellow;
	padding: 0px 1px 0px 1px;
}
.in { font-size: 150%; }
.et {
	text-indent: 0px;
	margin-top: 0.5em;
	margin-bottom:0.5em;
	margin-left:5em;
}
.hspace { padding-right: 3em; }
.vspace {
	margin: 0px;
	padding: 0px;
}
.right { text-align: right; }

.page_number {
	background-color: Gray;
	border: 1px dotted White;
	white-space: nowrap;
	color: White;
	padding: 2px;
	margin: 2px;
	width: 10em;
	text-align: center;
}

.note-mark {
	color: blue;
	border-bottom: 1px dotted blue;
	padding: 0px 1px 0px 1px;
}
.note-mark .note-text {
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.5em;
	max-width: 40em;
	left: 4em;
	background-color: #eee;
	color: black;
	visibility: hidden;
	position: absolute;
	z-index: 1;
}
.note-mark:hover .note-text { visibility: visible; }

.editorial { background-color: Salmon; }

.gap {
	background-color: red;
	color: white;
}

@media print {
	* {
		font-size: 10pt;
		line-height: 160%;
		background-color: none;
		font-family: "DejaVu serif",serif;
	}
}

@media print {
	body {
		padding: 0pt;
		margin: 20mm 10mm 20mm 10mm;
		max-width: unset;
		padding: 0px;
	}
}

@media print {
	.page_number {
		display: block;
		page-break-before: always;
	}
}

@media print {
	.s { display: none; }
}
